@page "/"

<PageTitle>

</PageTitle>

<h2><strong>BirdEyes: </strong>Welcome to all of your game purchasing solutions! </h2>



<div>
    <AuthorizeView>
        <Authorized>
            <p>
                <h5>Welcome back! </h5> <!--Need to add tracking reminders on Authorized View of home page, otherwise remember to fill the negative space with something else --> 
            </p>
        </Authorized>
        <NotAuthorized>
            <p>
                <h5>BirdEyes is a tool allowing gamers to track videogames, courtesy of the IGDB API with Kamran Ayub's wrapper, the Steam Web API with Justin Skiles' wrapper, and the Galaxy of Games API with NicoVIII's wrapper. It is also an IB student's ITGS IA. </h5>
            </p>
            <p>
                <h5>You may browse without logging in, but the purpose of the app is to allow for the tracking of applications for when they drop below a set price, for example during sales. </h5>
            </p>
        </NotAuthorized>
    </AuthorizeView>
</div>

