@page "/"

<PageTitle>

</PageTitle>

<h2><strong>BirdEyes: </strong>Welcome to all of your game purchasing solutions! </h2>


<br />
<div>
    <AuthorizeView>
        <Authorized>
            <p>
                <h4>Welcome back! </h4> <!--Need to add tracking reminders on Authorized View of home page, otherwise remember to fill the negative space with something else --> 
            </p>
        </Authorized>
        <NotAuthorized>
            <p>
                <h4>BirdEyes is a WebApp which takes data form the IsThereAnyDeal.com API to redisplay it in a more easily readable hence queryable format. It is also an IB student's ITGS IA. </h4>
            </p>
            <p>
                <h4>You may browse without logging in. Apps, expansions, and bundles may be tracked on IsThereAnyDeal.com. </h4>
            </p>
        </NotAuthorized>
    </AuthorizeView>
</div>

